@media screen and (max-width: 992px) {
    .main-section {
        margin-top: 5rem !important;
    }

    h3 {
        font-size: 18px !important;
        bottom: 10px !important;
    }

    .work {
        width: auto;
    }
}